.chartSection{
    display:grid;
    grid-template-columns: repeat(1fr,12);
    column-gap: 10;
}

.tradingview-widget-container{
    grid-column:  2/8;
}
.sentimentBar{
    width: fit-content; 
    overflow: hidden;
    display: flex;
}

#sentimentBox {
    grid-column: 8/12;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#positive{
    background-color: green;
    height:20px;
    color:white;
    text-align: center;
}

#negative{
    background-color: red;
    height:20px;
    color:white;
    text-align: center;
}