.chartSection{
    display:grid;
    grid-template-columns: repeat(1fr,12);
    column-gap: 10;
}

.tradingview-widget-container{
    grid-column:  2/8;
}
.sentimentBar{
    width: fit-content; 
    overflow: hidden;
    display: flex;
}

#sentimentBox {
    grid-column: 8/12;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#positive{
    background-color: green;
    height:20px;
    color:white;
    text-align: center;
    border-top-left-radius:  10px;
    border-bottom-left-radius: 10px;
}

#negative{
    background-color: red;
    height:20px;
    color:white;
    text-align: center;
    border-top-right-radius:  10px;
    border-bottom-right-radius: 10px;
}

.newsSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.newsBox{
    width: 350px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    margin: 15px 0;
    padding:10px;
    cursor: pointer;
}

.newsBox:hover{
    -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.newsBox a {
    text-decoration: none;
}
.newsImage{
    width:200px;
    height:200px;
}

.newsTitle{
    color:black
}

.newsSummary {
    color: grey;
    font-size: smaller;
    font-style: italic;
}